# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SecretHolySpell.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mircea\Desktop\SecretHolySpell\.idea\.idea.SecretHolySpell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
